&:root {
	--site-spacing: 15px;
}
body {
	margin-left: var(--site-spacing);
	margin-right: var(--site-spacing);
}
img {
	width: 20%;
	height: 20%;
	min-width: 50px;
	max-width: 800px;
}
#Grid-Home {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "z-1 z-1 z-1" "z-8 z-8 z-8" "z-3 z-2 z-4" "z-5 z-6 z-7";
	>* {
		border: 2px solid var(--border-color);
		font-size: 13px;
	}
}
