<!DOCTYPE html>

<html lang="ro">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Sucuri naturale, sucuri organice, sucuri de fructe, fructe proaspete, bauturi sanatoase, magazin sucuri de fructe, retete sucuri, dieta sanatoasa, stil de viata sanatos">
    <meta name="description" content="Magazin online de sucuri naturale">
    <title>JuicerOW</title>
    
    
    <%- include("../Fragments/head.ejs") %>
    

</head>

<body>
    <%- include("../Fragments/header.ejs") %>



    
    <main>
        <section id="About">
            
            <h2>
                Despre noi
            </h2>
            <p>Bine ati venit la <b>magazinul nostru online</b> de<b>sucuri de fructe</b>, unde suntem specializati in furnizarea de <b>bauturi sanatoase</b> pentru cei care doresc sa incorporeze mai multe optiuni naturale si nutritive in dieta lor. Meniul nostru include o varietate de <b>sucuri de fructe</b>, fiecare creat cu grija pentru a asigura o aroma si o nutritie maxima.</p>
            <q>Love your body, feed your soul, drink your juice.</q>
            <section id ="About-Products">
                <h3>
                    Produsele noastre
                </h3>
                <p>
                    Credem ca o <b>dieta sanatoasa</b> este cheia bunastarii generale si suntem pasionati sa ne ajutam clientii sa-si atinga obiectivele de sanatate prin <b> noastre delicioase de sucuri</b>. Indiferent daca doriti sa va intariti sistemul imunitar, sa va imbunatatiti digestia sau pur si simplu sa va bucurati de o bautura racoritoare si gustoasa, meniul nostru de sucuri are cate ceva pentru toata lumea.
                </p>
                
            </section>
            <section id = "About-Lifestyle">
                <h3>
                    Un stil de viata sanatos
                </h3>
                <p>
                    Magazinul nostru de <b>sucuri de fructe</b> se angajeaza sa utilizeze numai cele mai proaspete si de cea mai buna calitate ingrediente in toate sucurile noastre, astfel incat sa va puteti simti increzator ca obtineti cea mai buna nutritie posibila la fiecare inghititură. Pe lângă meniul nostru de sucuri, oferim, de asemenea, o varietate de resurse și informații despre un <b>stil de viata sanatos</b>, pentru a ne ajuta clientii să facă alegeri informate cu privire la dieta și stilul lor de viață.
                </p>
    
                <a href = "https://www.webmd.com/diet/juicing-health-benefits" target="_blank">Beneficiile sucurilor de fructe</a>

                
                <ul class = "ifr">
                    <li><a href="https://www.youtube.com/embed/kvWrLXwJzck" target="ifr-video">Cum se fabrica sucul de portocale</a></li>
                    <li><a href="https://www.youtube.com/embed/1Cqd9KZMKKQ" target="ifr-video">Cum sa storci o lamaie fara storcator</a></li>
                    <li><a href="https://www.youtube.com/embed/bGfJILzw6Mc" target="ifr-video">Reteta suc de mere</a></li>
                </ul>
                
                <iframe name = "ifr-video" class="ifr-video" width="885" height="498" src="https://www.youtube.com/embed/kvWrLXwJzck" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
                <!--
                <div class="container-iframe">
                    <div class="taburi-iframe">
                        <a href="https://www.youtube.com/embed/kvWrLXwJzck" target="ifr-video">Cum se fabrica sucul de portocale</a>
                        <a href="https://www.youtube.com/embed/1Cqd9KZMKKQ" target="ifr-video">Cum sa storci o lamaie fara storcator</a>
                        <a href="https://www.youtube.com/embed/bGfJILzw6Mc" target="ifr-video">Reteta suc de mere</a><br/>
                    </div>         
                    <iframe name = "ifr-video" width="885" height="498" src="https://www.youtube.com/embed/kvWrLXwJzck" title="How Orange Juice Is Made in Factories | How It&#39;s Made" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                -->

            </section>
        </section>
    </main>
    <%- include("../Fragments/footer.ejs") %>
    </body>



</html>