<!DOCTYPE html>

<html lang="ro">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Sucuri naturale, sucuri organice, sucuri de fructe, fructe proaspete, bauturi sanatoase, magazin sucuri de fructe, retete sucuri, dieta sanatoasa, stil de viata sanatos">
    <meta name="description" content="Magazin online de sucuri naturale">
    <title>JuicerOW</title>
    
    
    <%- include("../Fragments/head.ejs") %>
    

</head>

<body>
    <%- include("../Fragments/header.ejs") %>



    
    <main>
        <section id="Account">
            <p>
                Ip: <%- locals.ip %>
            </p>
            <h2>
                Contul meu
            </h2>
            <section id="Account-Cart">
                <h3>Cos de cumparaturi</h3>
                <p>TODO:cos de cumparaturi</p>
            </section>
            <section id ="Account-History">
                <h3>Istoric comenzi</h3>
                <p>TODO:istoric comenzi</p>
            </section>
        </section>
    </main>
    <%- include("../Fragments/footer.ejs") %>
    </body>



</html>