<!DOCTYPE html>

<html lang="ro">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Sucuri naturale, sucuri organice, sucuri de fructe, fructe proaspete, bauturi sanatoase, magazin sucuri de fructe, retete sucuri, dieta sanatoasa, stil de viata sanatos">
    <meta name="description" content="Magazin online de sucuri naturale">
    <title>JuicerOW</title>
    
    
   
    <link rel="stylesheet" href="/Resources/CSS/galerie-animata.css" type="text/css" />
    

</head>

<body>
    



    
    <main>
        <section id="galerie">
            <div id="galerie_exemplu" class="galerie">
                <div>
                    <figure>
                        <img src="/Resources/Assets/Gallery/Med/Apple.webp" alt="Image 1">
                        <figcaption>Mar</figcaption>
                    </figure>
                    <figure>
                        <img src="/Resources/Assets/Gallery/Med/Cranberry.webp" alt="Image 2">
                        <figcaption>Cranberry</figcaption>
                    </figure>
                    <figure>
                        <img src="/Resources/Assets/Gallery/Med/Grapefruit.webp" alt="Image 3">
                        <figcaption>Grapefruit</figcaption>
                    </figure>
                    <figure>
                        <img src="/Resources/Assets/Gallery/Med/Pear.webp" alt="Image 4">
                        <figcaption>Para</figcaption>
                    </figure>
                    <figure>
                        <img src="/Resources/Assets/Gallery/Med/Pineapple.webp" alt="Image 5">
                        <figcaption>Ananas</figcaption>
                    </figure>
                    <figure>
                        <img src="/Resources/Assets/Gallery/Med/Strawberry.webp" alt="Image 6">
                        <figcaption>Capsuna</figcaption>
                    </figure>
                    <figure>
                        <img src="/Resources/Assets/Gallery/Med/Strawberry.webp" alt="Image 7">
                        <figcaption>Capsuna2</figcaption>
                    </figure>
                </div>
            </div>
        </section>
    </main>
    <%- include("../Fragments/footer.ejs") %>
    </body>



</html>