<!DOCTYPE html>

<html lang="ro">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Sucuri naturale, sucuri organice, sucuri de fructe, fructe proaspete, bauturi sanatoase, magazin sucuri de fructe, retete sucuri, dieta sanatoasa, stil de viata sanatos">
    <meta name="description" content="Magazin online de sucuri naturale">
    <title>JuicerOW</title>
    
    
    <%- include("../Fragments/head.ejs") %>
    

</head>

<body>
    <%- include("../Fragments/header.ejs") %>



    
    <main>
        <div class="back-to-top" title="Back to Top">
            <a href = # style="text-decoration: none;">
            <span class="parentheses">(</span>
            <span class="triangle"></span>
            <span class="parentheses">)</span>
            </a>
        </div>
        <div id = "Grid-Home">  
                    <section id = "Z1">
                        <h2>
                            Home
                        </h2>
                        <figure>
                            <picture>
                            <source media = "(max-width: 479px)" srcset ="./Resources/Assets/Orange-S.png">
                            <source media = "(max-width: 639px)" srcset ="./Resources/Assets/Orange-M.png">
                            <img src = "./Resources/Assets/Orange-L.png" alt = "Suc de portocale" title ="Suc de portocale"/>
                            </picture>
                            <figcaption><a href="./Resources/Assets/Orange-L.png" download>
                                Download
                            </a></figcaption>
                        </figure>
                        
                    </section>
                    <section id = "Z2"><!--Tabel-->
                        
                        <table>
                            <caption>Orar sediu</caption>
                            <thead>
                              <tr>
                                <th></th>
                                <th>Luni</th>
                                <th>Marti</th>
                                <th>Miercuri</th>
                                <th>Joi</th>
                                <th>Vineri</th>
                                <th>Sambata</th>
                                <th>Duminica</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <!--<td rowspan="2">Cell 1</td>-->

                                <td>9-12</td>
                                <td>Inchis</td>
                                <td>Inchis</td>
                                <td>Deschis</td>
                                <td>Deschis</td>
                                <td>Deschis</td>
                                <td>Inchis</td>
                                <td rowspan="3">Inchis</td>
                              </tr>
                              <tr>
                                <!--<td colspan="2">Cell 5</td>-->
                                <td>12-15</td>
                                <td>Deschis</td>
                                <td>Deschis</td>
                                <td>Deschis</td>
                                <td>Deschis</td>
                                <td>Deschis</td>
                                <td>Inchis</td>
                              </tr>
                              <tr>
                                <td>15-18</td>
                                <td>Deschis</td>
                                <td>Deschis</td>
                                <td>Deschis</td>
                                <td>Deschis</td>
                                <td>Inchis</td>
                                <td>Deschis</td>
                                
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <td>Nu</td>
                                <td>Stiu</td>
                                <td>Ce</td>
                                <td>Sa</td>
                                <td>Scriu</td>
                                <td>In</td>
                                <td>Footer</td>
                                <td> :&#41;</td>
                                
                              </tr>
                            </tfoot>
                          </table>
                          
                    </section>
                    <section id = "Z3">
                        <video controls="controls " preload = "metadata" poster = "/Resources/Assets/Orange-L.png">
                            <source src="/Resources/Assets/Videos/Vid1.mp4" type="video/mp4">
                            <source src="/Resources/Assets/Videos/Vid1.ogv" type="video/ogv">
                            <track default src="/Resources/Assets/Videos/Ro.vtt" kind="captions" srclang="ro" label="Romana"/>
                            <track  src="/Resources/Assets/Videos/Eng.vtt" kind="captions" srclang="en" label="English"/>
                        </video>
                    </section>
                    <section id = "Z4">
                        <p>Z4 Nam congue pharetra egestas. Duis nisl risus, elementum nec neque id, imperdiet accumsan augue.</p>
                    </section>
                    <section id = "Z5">
                        <p>Z5 In hac habitasse platea dictumst. Nunc quam elit, tempor at feugiat et, efficitur sit amet diam. In id ipsum porttitor, ultricies diam a, dignissim augue.</p>
                    </section>
                    <section id = "Z6">
                        <p>Z6 Mauris vehicula fermentum justo. Morbi tempor viverra justo sed rhoncus. Suspendisse porttitor volutpat neque, a vestibulum turpis.</p>
                    </section>
                    <section id = "Z7">
                        <p>Z7 Donec a elit at nisi dignissim facilisis non id ipsum. Proin malesuada enim non mauris pulvinar, ut congue elit vestibulum.</p>
                    </section>
                    <section id = "Z8">
                        
                        
                        
                        <section id ="Home-Favourites">
                            <h3>
                                <!--<span class="fas fa-heart fa-fw fa-spin"></span>--> Produsele noastre favorite:<!-- <span class="fas fa-heart fa-fw fa-spin"></span>-->
                            </h3>
                            <p>
                                Text produse fav
                            </p>

                        </section>
                        <section id = "Home-About">
                            <h3>
                                Cateva informatii despre noi:
                            </h3>
                            <p>Noi credem ca <b>bauturile sanatoase</b> ar trebui sa fie accesibile si convenabile pentru toata lumea, motiv pentru care oferim transport rapid si de incredere oriunde in <s>Bucuresti si Ilfov</s> <ins style="text-decoration:none;">Romania</ins>. </p>
                            <p>De ce este bine sa consumi <b>sucuri naturale</b></p>
                            <ul>
                                <li>Admisie ridicata de vitamine si minerale: <b>sucurile de fructe</b> facute din <b>fructe proaspete</b> sunt o sursa foarte buna de vitamine si minerale, care sunt esentiale pentru a mentine o sanatate buna.  </li>
                                <li>Digestie imbunatatita;</li>
                                <li>Imunitate sporita;</li>
                                <li>Energie ridicata;</li>
                                <li>Scaderea inflamatiilor;</li>
                            </ul>
                        </section>
                        <section id = "Home-Reviews">
                            <h3>
                                Cateva review-uri
                            </h3>
                                <details><summary>4/5</summary>
                                    <p>
                                        Michael Dragon: Sucul respecta regulile, domnule student!
                                    </p>
                                </details>
                                <details><summary>3/5</summary>
                                    <p>
                                        DDD: Nu are destul Linux
                                    </p>
                                </details>
                           
                        </section>
                    </section>

                </div>
        
        <section id="Menu">
            <h2>
                Meniu
            </h2>
            <details><summary>Suc de mere</summary>
                <p>
                    7 RON
                </p>
            </details>
            <details><summary>Suc de portocale</summary>
                <p>
                    5 RON
                </p>
            </details>
            <details><summary>Limonada</summary>
                <p>
                    6 RON
                </p>
            </details>
            <details><summary><s>Visinata </s><ins style="text-decoration:none;">Suc de visine</ins></summary>
                <p>
                    10 RON
                </p>
            </details>
        </section>
        <section id="Contact">
            <h2>
                Contact
            </h2>
            <p>
                Text Contact
            </p>
        </section>
        <section id="About">
            
            <h2>
                Despre noi
            </h2>
            <p>Bine ati venit la <b>magazinul nostru online</b> de<b>sucuri de fructe</b>, unde suntem specializati in furnizarea de <b>bauturi sanatoase</b> pentru cei care doresc sa incorporeze mai multe optiuni naturale si nutritive in dieta lor. Meniul nostru include o varietate de <b>sucuri de fructe</b>, fiecare creat cu grija pentru a asigura o aroma si o nutritie maxima.</p>
            <q>Love your body, feed your soul, drink your juice.</q>
            <section id ="About-Products">
                <h3>
                    Produsele noastre
                </h3>
                <p>
                    Credem ca o <b>dieta sanatoasa</b> este cheia bunastarii generale si suntem pasionati sa ne ajutam clientii sa-si atinga obiectivele de sanatate prin <b> noastre delicioase de sucuri</b>. Indiferent daca doriti sa va intariti sistemul imunitar, sa va imbunatatiti digestia sau pur si simplu sa va bucurati de o bautura racoritoare si gustoasa, meniul nostru de sucuri are cate ceva pentru toata lumea.
                </p>
                
            </section>
            <section id = "About-Lifestyle">
                <h3>
                    Un stil de viata sanatos
                </h3>
                <p>
                    Magazinul nostru de <b>sucuri de fructe</b> se angajeaza sa utilizeze numai cele mai proaspete si de cea mai buna calitate ingrediente in toate sucurile noastre, astfel incat sa va puteti simti increzator ca obtineti cea mai buna nutritie posibila la fiecare inghititură. Pe lângă meniul nostru de sucuri, oferim, de asemenea, o varietate de resurse și informații despre un <b>stil de viata sanatos</b>, pentru a ne ajuta clientii să facă alegeri informate cu privire la dieta și stilul lor de viață.
                </p>
    
                <a href = "https://www.webmd.com/diet/juicing-health-benefits" target="_blank">Beneficiile sucurilor de fructe</a>

                
                <ul class = "ifr">
                    <li><a href="https://www.youtube.com/embed/kvWrLXwJzck" target="ifr-video">Cum se fabrica sucul de portocale</a></li>
                    <li><a href="https://www.youtube.com/embed/1Cqd9KZMKKQ" target="ifr-video">Cum sa storci o lamaie fara storcator</a></li>
                    <li><a href="https://www.youtube.com/embed/bGfJILzw6Mc" target="ifr-video">Reteta suc de mere</a></li>
                </ul>
                
                <iframe name = "ifr-video" class="ifr-video" width="885" height="498" src="https://www.youtube.com/embed/kvWrLXwJzck" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                
                <!--
                <div class="container-iframe">
                    <div class="taburi-iframe">
                        <a href="https://www.youtube.com/embed/kvWrLXwJzck" target="ifr-video">Cum se fabrica sucul de portocale</a>
                        <a href="https://www.youtube.com/embed/1Cqd9KZMKKQ" target="ifr-video">Cum sa storci o lamaie fara storcator</a>
                        <a href="https://www.youtube.com/embed/bGfJILzw6Mc" target="ifr-video">Reteta suc de mere</a><br/>
                    </div>         
                    <iframe name = "ifr-video" width="885" height="498" src="https://www.youtube.com/embed/kvWrLXwJzck" title="How Orange Juice Is Made in Factories | How It&#39;s Made" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                -->

            </section>
        </section>
        <section id="Account">
            <h2>
                Contul meu
            </h2>
            <section id="Account-Cart">
                <h3>Cos de cumparaturi</h3>
                <p>TODO:cos de cumparaturi</p>
            </section>
            <section id ="Account-History">
                <h3>Istoric comenzi</h3>
                <p>TODO:istoric comenzi</p>
            </section>
        </section>
    </main>
    <%- include("../Fragments/footer.ejs") %>
    </body>



</html>