<!DOCTYPE html>

<html lang="ro">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Sucuri naturale, sucuri organice, sucuri de fructe, fructe proaspete, bauturi sanatoase, magazin sucuri de fructe, retete sucuri, dieta sanatoasa, stil de viata sanatos">
    <meta name="description" content="Magazin online de sucuri naturale">
    <title>JuicerOW</title>
    
    
    <%- include("../Fragments/head.ejs") %>
    

</head>

<body>
    <%- include("../Fragments/header.ejs") %>



    
    <main>
        
        <section id="Menu">
            <h2>
                Meniu
            </h2>
            <details><summary>Suc de mere</summary>
                <p>
                    7 RON
                </p>
            </details>
            <details><summary>Suc de portocale</summary>
                <p>
                    5 RON
                </p>
            </details>
            <details><summary>Limonada</summary>
                <p>
                    6 RON
                </p>
            </details>
            <details><summary><s>Visinata </s><ins style="text-decoration:none;">Suc de visine</ins></summary>
                <p>
                    10 RON
                </p>
            </details>
        </section>
    </main>
    <%- include("../Fragments/footer.ejs") %>
    </body>



</html>