<footer>
    <p id = "Banner">Acesta este un proiect scolar</p>
    <p id = "Watermark">Simion<br>Stefan</p>
    <a href="#">Link top</a>
    <!-- adresa, contact etc.-->
    <address> <!-- doar face textul italic, dar daca am fi folosit <i> -> text ideomatic, nu specific adresei-->
        <a href="mailto:irina.ciocan@gmail.com">Trimiteti un mail</a><br>
        <a href="tel:+407749824">Sunati</a><br>

        <a href = "https://www.google.com/maps/place/Faculty+of+Mathematics+and+Computer+Science/@44.4355069,26.0991309,17.86z/data=!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh" target="_blank">Strada Sucurilor nr 337</a>
        <br>
        <a href="wa.link/yj2bd1">Whatsapp</a>
    </address>
    <small>Copyright &copy; <time datetime="2023-03-06">6 March 2023</time> </small>
</footer>