<header>
    <h1>JuicerOW - <b>Sucuri Naturale</b></h1>
</header>
    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="./Resources/Assets/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="menu">
            <li>
                <div><span class="fas fa-regular fa-house"></span> Acasa</div>
                <ul>
                    <li><a href="#Home-Favourites">Favoritele noastre</a></li>
                    <li><a href="#Home-About"><b>Sucuri organice</b></a></li>
                    <li><a href="#Home-Reviews">Review-uri</a></li>
                </ul>
            </li>
            <li class="shadowtext"><a href="#Menu">Meniu</a></li>
            <li class="shadowtext"><a href="#Contact">Contact</a></li>
            <li><div>Despre noi</div>
                <ul>
                    <li><a href="#About-Products">Produsele noastre</a></li>
                    <li><a href="#About-Lifestyle">Viata sanatoasa</a></li>
                </ul>
            </li>
            <li><div>Contul meu</div>
                <ul>
                    <li><a href="#Account-Cart">Cos de cumparaturi</a></li>
                    <li><a href="#Account-History">Istoric comenzi</a></li>
                </ul>
            </li>
        </ul>
    </nav>